<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 720px">
    <div class="py-5 text-center">
        <h2 th:text="#{page.boards}">게시판 목록</h2>
    </div>

    <form th:object="${boardSearch}" method="get" class="form-inline">
    <div class="row">
        <div class="col">
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목"/>
        </div>
        <div class="col">
            <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임"/>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-secondary mb-2">검색</button>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <div class="col">
                <button class="btn btn-primary float-end"
                        onclick="location.href='addForm.html'"
                        th:onclick="|location.href='@{/board/add}'|"
                        type="button" th:text="#{page.addBoard}">게시글 등록</button>
            </div>
        </div>
    </div>

    </form>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.board.id}">번호</th>
                <th th:text="#{label.board.title}">제목</th>
                <th th:text="#{label.board.writer}">쓰니</th>
                <th th:text="#{label.board.createdDate}">작성일자</th>
                <th th:text="#{label.board.readCount}">조회수</th>
                <th th:text="#{label.board.recommendCount}">추천수</th>
                <th th:text="#{label.board.notRecommendCount}">비추천수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.id}">번호</td>
                <td><a href="board.html" th:href="@{|/board/${board.id}|}" th:text="${board.title}">제목</a></td>
                <td th:text="|${board.nickname}(${board.ip})|">글쓴이</td>
                <td th:if="|${#temporals.format(board.createdDate, 'yyyyMMdd').equals(#temporals.format(today, 'yyyyMMdd'))}|" th:text="${#temporals.format(board.createdDate, 'HH:mm')}">11:30</td>
                <td th:unless="|${#temporals.format(board.createdDate, 'yyyyMMdd').equals(#temporals.format(today, 'yyyyMMdd'))}|" th:text="${#temporals.format(board.createdDate, 'yy/MM/dd')}">23/11/14</td>
                <td th:text="${board.readCount}">0</td>
                <td th:text="${board.recommendCount}">0</td>
                <td th:text="${board.notRecommendCount}">0</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>